@charset "utf-8";
.content{
	float: left;
	position: relative;
	width: 1005px;
	margin-top: 32px;
	overflow: hidden;
}
.content:before{
	position: absolute;
	top: 27px;
	left: 0;
	content: "";
	width: 1005px;
	height: 2px;
	background: #ccc;
}
.content>h3{
	cursor: pointer;
	position: relative;
	float: left;
	width: 130px;
	height: 27px;
	font-size: 16px;
	text-indent: 5px;
}
.title-on{
	color: #6ca40d;
}
.title-on:after{
	position: absolute;
	top: 27px;
	left: 0;
	content: "";
	width: 80px;
	height: 2px;
	background: #6ca40d;
}
.content>h3:hover{
	color: #6ca40d;	
}
.content>h3:hover:after{
	position: absolute;
	top: 27px;
	left: 0;
	content: "";
	width: 80px;
	height: 2px;
	background: #6ca40d;
}
.content>span{
	position: absolute;
	top: 0;
	right: 0;
}



/*表单样式*/
.content form{
	position: relative;
	width: 1005px;
	height: 36px;
	padding: 30px 0;
	overflow: hidden;
	clear: both;
}

/*全选选中*/
.content form>div:first-child{
	cursor: pointer;
	position: absolute;
	top: 33px;
	left: 0;
	width: 50px;
	height: 20px;
	text-align: right;
	line-height: 20px;
}

/*选中样式*/
.check-on{
	background-color: #333;
}


.content form>div>span{
	position: absolute;
	left: 0;
	top: 1px;
	width: 14px;
	height: 14px;
	border: 1px solid #7f7f7f;
	border-radius: 7px;
	behavior: url(css/PIE.htc);	
}


.content form>a{
	display: inline-block;
	position: absolute;
	top: 30px;
	width: 79px;
	height: 23px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 23px;
	border-radius: 9px;
	behavior: url(css/PIE.htc);	
}
.content form>a{
	left: 70px;	
}
.style-ie8{
	left: 170px!important;
}

/*订单搜索框样式*/
.search-order{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 318px;
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 9px;
	behavior: url(css/PIE.htc);	
	overflow: hidden;
}
.search-order i{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	height: 34px;
}
.search-order i input{
	position: absolute;
	top: 0;
	left: 12px;
	width: 215px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
}
.search-order strong{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 86px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	background: #6ca40d;
	border-radius: 9px;
	behavior: url(css/PIE.htc);
}
.search-order strong input{
	position: absolute;
	top: 0;
	left: 0;
	width: 86px;
	height: 34px;
	opacity: 0;
	filter:alpha(opacity=0);
}




/*列表样式*/

#list{
	width: 1005px;
	overflow: hidden;
}
#list>li{
	width: 1003px;
	height: 210px;
	border: 1px solid #ccc;
	margin-bottom: 22px;
	border-radius: 9px;
	behavior: url(css/PIE.htc);
}

/*列表头样式*/
#list>li>div{
	position: relative;
	height: 43px;
	background: #e9f3d2;
	border-radius: 9px;
	behavior: url(css/PIE.htc);
}

/*圆点选中样式*/
#list>li>div>div>span{
	position: absolute;
	top: 12px;
	left: 19px;
	width: 12px;
	height: 12px;
	border: 1px solid #555f3e;
	border-radius: 6px;
	behavior: url(css/PIE.htc);
}
#list>li>div>div>i{
	position: absolute;
	left: 40px;
	top: 15px;
	color: #555f3e;
}

#list>li>div a{
	position: absolute;
	top: 15px;
	right: 26px;
	color: #8fc31f;
}
#list>li>div>span{
	position: absolute;
	top: 15px;
	left: 140px;
	color: #555f3e;
}





/*列表内容*/
#list>li>ul{
	overflow: hidden;
}
#list>li>ul>li{
	float: left;
	margin-top: 52px;
	height: 150px;
	text-align: center;
	line-height: 18px;
}
#list>li>ul>li a{
	display: block;
}
#list>li>ul>li:first-child{
	margin: 0 20px;
	margin-top: 0!important;
	line-height: 150px;
}
#list>li>ul>li img{
	vertical-align: middle;
	width: 110px;
	height: 110px;
}
#list>li>ul>li:first-child+li{
	width: 195px;
	text-align: left;
}
#list>li>ul>li:first-child+li p:first-child+p{
	width: 175px;
	color: #a2a1a1;
}
#list>li>ul>li:first-child+li+li{
	width: 160px;
}
#list>li>ul>li:first-child+li+li p:first-child{
	text-decoration: line-through;
	color: #818181;
}
#list>li>ul>li:first-child+li+li+li+li{
	width: 140px;
}
#list>li>ul>li:first-child+li+li+li+li+li{
	width: 130px;
}
#list>li>ul>li:first-child+li+li+li+li+li p:first-child{
	color: #e80000;
}
#list>li>ul>li:first-child+li+li+li+li+li+li{
	width: 130px;
}
#list>li>ul>li:first-child+li+li+li+li+li+li+li{
	width: 80px;
}

.payment a{
	position: relative;
	width: 57px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background: #8fc31f;
	color: #fff;
	border-radius: 9px;
	behavior: url(css/PIE.htc);
}

















