@charset "utf-8";
body,.wrapper{
	background-color: #e7ead5;
}
.wrapper{
	background-image: url(../img/register_bg.png);
}
.header p a{
	margin-left: 10px;
}

.middle>div{
	margin: 0 auto;
	width: 600px;
	height: 720px;
	padding: 50px 300px;
	font-size: 18px;
}
.middle div,.middle p{
	clear: both;
}
.middle>div>form>div{
	position: relative;
	width: 555px;
	height: 57px;
	margin-bottom: 22px;
	border: 1px solid #c6cead;
	border-radius: 16px;
	behavior: url(css/PIE.htc);	
}
.middle>div>form>div>div{
	float: left;
	position: relative;
	width: 100px;
	height: 57px;
	padding: 0 30px;
	background: #dbe3c1;
	color: #212120;
	line-height: 57px;
	border-radius: 16px;
	behavior: url(css/PIE.htc);
	text-justify:inter-word;
	text-justify:inter-ideograph;
	justify-content:space-between;
	/*兼容文本居中*/
	text-align:justify;
    text-justify:distribute-all-lines;/*ie6-8*/
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/
}
.submit{
	margin-top: 37px;
	border: 1px solid #72aa12;
	background: #72aa12;
	color: #fff;
	text-align: center;
	line-height: 57px;
}
/*验证码样式*/
.verify{
	cursor: pointer;
	float: left;
	position: relative;
	width: 174px!important;
	height: 59px;
	margin-bottom: 22px;
	line-height: 59px;
	text-align: center;
	color: #212120;
	border-radius: 16px;
	background: #dbe3c1;
	behavior: url(css/PIE.htc);	
	clear: none!important;
}
.verify img{
	vertical-align: middle;
}
.verify-input{
	float: left;
	position: relative;
	width: 372px!important;
	height: 57px;
	margin-bottom: 22px;
	margin-right: 9px;
	border: 1px solid #c6cead;
	border-radius: 16px;
	behavior: url(css/PIE.htc);	
	clear: none!important;	
}

/*表单设置*/
input[type=text],input[type=password]{
	position: absolute;
	top: 0;
	right: 0;
	width: 364px;
	height: 54px;
	font-size: 18px;
	line-height: 54px;
	border-radius: 18px;
	behavior: url(css/PIE.htc);	
	background: #e7ead5;
}
.verify-input input{
	width: 179px!important;
}
input[type=submit]{
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 174px;
	height: 57px;
	opacity: 0;
	filter:alpha(opacity=0);
}
.submit input{
	width: 557px!important;
}

.middle p{
	font-size: 12px;
}
.middle p a:first-child{
	position: relative;
	margin-left: 38px;
}
.middle p a span{
	display: inline-block;
	position: absolute;
	top: -1px;
	left: -28px;
	width: 16px;
	height: 16px;
	border: 1px solid #797b70;
	border-radius: 9px;
	behavior: url(css/PIE.htc);		
}

.choose-on{
	background: #797b70;
}

.middle div i{
	float: right;
	cursor: pointer;
}


















