@charset "utf-8";
/*顶部样式*/
.middle{
	overflow: hidden;
}
.middle-header{
	position: relative;
	margin: 0 auto;
	width: 690px;
	height: 110px;
}
.middle-header:before{
	position: absolute;
	top: 45px;
	left: 0;
	content: '';
	width: 690px;
	height: 11px;
	background: #c9c9c9;
	border-radius: 3px;
}
.middle-header>div{
	position: relative;
	float: left;
	margin-top: 45px;
	width: 230px;
	font-size: 18px;
	text-align: center;
}
.middle-header>div span{
	position: absolute;
	top: -10px;
	left: 97px;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	background: #c9c9c9;
	behavior: url(css/PIE.htc);	
	overflow: hidden;
}
.middle-header>div em{
	display: inline-block;
	margin-top: 35px;
}
.icon-gouxuan{
	position: absolute;
	background: #6ca40d!important;	
}
.pitch-on:before{
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 230px;
	height: 11px;
	background: #6ca40d;
	border-radius: 3px;
	behavior: url(css/PIE.htc);		
}

/*购物车详情*/
.content{
	position: relative;
	overflow: hidden;
}
.content-title{
	width: 1200px;
	height: 37px;
	font-size: 18px;
	border-bottom: 3px solid #c9c9c9;
}
.content-title>div{
	position: relative;
	float: left;
	width: 170px;
	height: 37px;
	padding-top: 3px;
	text-indent: 17px;
}
.content-title>div>span{
	margin-right: 5px;
}
.content-title>div:first-child{
	position: relative;
	color: #548206;	
}
.content-title>div:first-child:after{
	position: absolute;
	top: 37px;
	left: 0;
	content: '';
	width: 120px;
	height: 3px;
	background: #8fc31f;	
}
.content-title>span{
	display: inline-block;
	top: 3px;
	left: 860px;
	position: absolute;
}
.content-title>span i{
	color: #d70505;
}
.content-title>a{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 82px;
	height: 30px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	border-radius: 8px;
	behavior: url(css/PIE.htc);	
	background: #6ca40d;
}
/*操作样式*/
.content-title+div{
	width: 1200px;
	height: 118px;
	font-size: 14px;
	line-height: 118px;
}
.content-title+div>ul{
	float: right;
}
.content-title+div>ul li{
	float: left;
	width: 160px;
	text-align: center;
}

/*选中取消样式*/
.content-title+div>span:first-child{
	display: inline-block;
	position: relative;
	width: 150px;
	padding-left: 60px;
}
.content-title+div>span:first-child a{
	position: relative;
}
.content-title+div span:first-child+span{
	display: inline-block;
	width: 345px;
}

/*列表样式*/
.content>ul>li{
	height: 145px;
	line-height: 145px;
	border: 1px solid #7f7f7f;
	margin-bottom: 30px;
	border-radius: 9px;
	behavior: url(css/PIE.htc);	
	overflow: hidden;
}
.content>ul>li>ul>li{
	position: relative;
	width: 160px;
	font-size: 12px;
	text-align: center;
	float: left;
}
.content>ul>li>ul>li:first-child{
	position: relative;
	width: 210px;
	text-align: left;
}
.list-pitch{
	cursor: pointer;
	position: absolute;
	top: 65px;
	left: 30px;
	width: 14px;
	height: 14px;
	border: 1px solid #515151;
	border-radius: 7px;
	behavior: url(css/PIE.htc);	
}
.content>ul>li>ul>li:first-child img{
	position: relative;
	top: 10px;
	left: 60px;
	height: 116px;
}
.content>ul>li>ul>li:first-child+li{
	width: 200px;
	padding-right: 145px;
	padding-top: 25px;
	text-align: left;
	line-height: 20px;
}
.content>ul>li>ul>li:first-child+li p:first-child+p{
	color: #a2a1a1;
}
.content>ul>li>ul>li:first-child+li+li{
	width: 30px;
	padding: 60px 65px;
	line-height: 1;
}
.content>ul>li>ul>li:first-child+li+li>span:first-child{
	text-decoration: line-through;
	color: #818181;
}
.content>ul>li>ul>li:first-child+li+li+li+li{
	color: #e80000;
}


/*合计样式*/
.content-footer{
	position: relative;
	width: 1140px;
	padding-left: 60px;
	margin-bottom: 90px;
	height: 43px;
	font-size: 14px;
	line-height: 43px;
	background: #e2edcf;
	border-radius: 9px;
	behavior: url(css/PIE.htc);	
}
.content-footer>div{
	float: left;
	width: 80px;
	line-height: 43px;
}
.content-footer>span{
	position: absolute;
	top: 0;
	right: 100px;
}
.content-footer em{
	color: #e80000;
}
.content-footer>a{
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	width: 90px;
	height: 43px;
	color: #fff;
	text-align: center;
	background: #6ca40d;
	border-radius: 9px;
	behavior: url(css/PIE.htc);
}

.content-footer>div:first-child a{
	position: relative;
}

.content-pitch{
	position: absolute;
	top: 0px;
	left: -30px;
	width: 14px;
	height: 14px;
	border: 1px solid #515151;
	border-radius: 7px;
	behavior: url(css/PIE.htc);
}

.sub{
	cursor: pointer;
	position: relative;
	left: 4px;
	display: inline-block;
	width: 25px;
	height: 33px;
	line-height: 33px;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	border-left: 1px solid #7f7f7f;
	border-radius: 8px 0 0 8px;
	behavior: url(css/PIE.htc);
}
.add{
	cursor: pointer;
	position: relative;
	left: -3px;
	display: inline-block;
	width: 25px;
	height: 33px;
	line-height: 33px;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
	border-radius: 0 8px 8px 0;
	behavior: url(css/PIE.htc);
}
.content-num{
	display: inline-block;
	width: 27px;
	height: 33px;
	border: 1px solid #7f7f7f;
	line-height: 33px;
}

/*dom操作的样式*/

.pitch{
	background: #515151;
}


















